body {
  font-family: tahoma, helvetica;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: Bold;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: thin 100;
}

.county-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 70px;
  height: 2px;
  background-color: #fff;
}
.title {
  text-align: center;
}

.group-seal {
  width: 70px;
  height: 70px;
}
.title-box{
  width: 315px;
  height: 85px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 15px;
}



.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/contra-costa-scenic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center {
margin: auto;
}

.modal-container {
  width: 90vw;
  height: 530px;
  background-color: #000000;
  opacity: .7;
  margin-top: 20px;
}

.header {
 height: 85px;
 width: 100vw;
 background-color: #88a8dc;
 background-color: #2e3450;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.seal {
  z-index: 1;
  height: 70px;
  width: 70px;
  /*margin-top: 20px;
  margin-left: 25px;*/
  background-image: url('http://www.co.contra-costa.ca.us/Images/FormCenter/Items/Contra%20Costa%20County%20Seal%20.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
}

.seal-tint {
  z-index: 2;
  height: 70px;
  width: 70px;
  background: rgba(68, 84, 110, 0.6);
  position: absolute;
  /*margin-top: 20px;
  margin-left: 25px;*/
  border-radius: 50%;
}

input[type=text] {
  display: flex;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #ccc;
  background-color: rgb(34, 38, 53);
  padding: 12px 20px 12px 20px;
  position: relative;
  margin-right: 25px;
}

form {
  display: flex;
  align-items: center;
  color: #757575;
}

.material-icons {
  position: absolute;
  margin-left: 255px;
}
